<div class="card border-primary mb-3 p-5">
  <div class="container">
    <div>
      <input [(ngModel)]="newTask">
      <button (click)="add()" type="button" class="btn btn-primary btn-xs">dodaj</button>
    </div>
  </div>

  <div class="container">
    <div >
      <ng-container *ngIf="tasksList.length > 0;else notasks">
        <ng-container *ngFor="let task of tasksList">
          {{task}}
          <button (click)="remove(task)" type="button" class="btn btn-danger">usuń</button>
          <button (click)="done(task)" class="btn btn-success">zrobione</button>
          <br>
        </ng-container>
      </ng-container>
      <ng-template #notasks>
        Brak zadań do wykonania
      </ng-template>
    </div>

    <div>
      <div>
        <p>Wykonane zadania: {{tasksListDone.length}}</p>
        <ng-container *ngFor="let taskDone of tasksListDone">
          {{taskDone}}
          <br>
        </ng-container>
        
      </div>
    </div>
  </div>
</div>



